{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/rotating-card.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	
</head>
<body>
    <div class="row">
	<h1 class="title">Hanzi list</h1>
	<div class="col-sm-10 col-sm-offset-1">
	
	</div>
	<div class="col-sm-10 col-sm-offset-1">
	{% for hanzi in hanzis %}
	<div class="col-md-4 col-sm-6">
	<div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
				 
                     <img src="{% static 'images/rotating_card_thumb.jpg' %}"/>
                 </div>
                 <div class="user">
                     <!-- <img class="img-circle" src="{% static 'images/rotating_card_profile.png' %}"/> -->
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">{{ hanzi.hanzi }}</h3>
                         <p class="profession">{{ hanzi.pinyin|linebreaksbr }}</p>

                         <p class="text-center"></p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             <i class="fa fa-mail-forward"></i> Rotate
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto"></h5>
                 </div>
                 <div class="content">
                     <div class="main">
						 
                         <h4 class="text-center">{{ hanzi.allTranslations }}</h4>
						
                         <p class="text-center"></p>

                         <div class="stats-container">
                             <div class="stats">
                                {% if hanzi.classifiers.all %}
									<h4>{{ hanzi.allClassifiers }}</h4>
								{% else %}
									<h4>NA</h4>
								{% endif %}
                                 <p>
                                     Classifier
                                 </p>
                             </div>
                             <div class="stats">
					
                                 <h4>{{ hanzi.pinyin}}</h4>
							
                                 <p>
                                     Pinyin
                                 </p>
							 
                             </div>
                             <div class="stats">
                                 <h4>{{ hanzi.hanzi_traditional }}</h4>
                                 <p>
                                     Traditional
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
	</div>
	{% endfor %}
	</div>
	</div>
</body>
</html>